body {
  background-color: #0faff0;
  color: #ffffff;
  font-family: "Arial", sans-serif;
}

input {
  border-radius: 5px;
}

#div-vorm {
  background-color: #f2f2f2;
  display: inline-block;
  color: #4d4d4d;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

#div-kogu-sisu {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#div-tootetabel {
  margin-top: 100px;
}

.tootekogus {
  text-align: right;
}

#tiitel-pilt {
  width: 100%;
}

#image-container {
  width: auto;
  height: 150px;
  overflow: hidden;
}
